.container {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}
.link {
  padding: 5px 8px;
  width: 30%;
  text-align: center;
  border-radius: 5px;
}

.style {
  background-color: #57c4ff31;
}

.fashion {
  background-color: #da85c731;
}

.food {
  background-color: #7fb88133;
}

.travel {
  background-color: #ff795736;
}

.culture {
  background-color: #ffb04f45;
}

.coding {
  background-color: #5e4fff31;
}
@media screen and (max-width: 1024px) {
  .link {
    width: 45%;
  }
}
